.bd{
    background-color: rgb(33,33,33);
}
.hd{
    background-color: rgb(21,21,21);
    border: 7em solid rgb(33,33,33);
    border-radius: 11em;
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 18em;
}
.hd h1{
    color: rgb(204,167,138);
}
.hd h2{
    color: rgb(204,167,138);
}
.hd h3{
    color: rgb(204,167,138);
}
.hd p{
    color: rgb(204,167,138);
}
.hd img{
    width: 300px;
    height: 250px;
    padding-left: em;
}


.tot{
    background-color: rgb(21,21,21);
    border: 7em solid rgb(33,33,33);
    border-radius: 11em;
}
.tot h1{
    /* align-self: center;
    border: 3px solid black; */
    color: rgb(204,167,138);
   padding: 1em 0em;
    
}

.tot h2{
    color: rgb(204,167,138);
    padding: 1em 0em;
}

#gameboard{
width: 320px;
height: 320px;
/* background-color: black; */
display:flex;
flex-wrap: wrap;
}

.square{
  height:40px;
  width:40px;  
  position: relative;
}
.square svg{
    height: 30px;
    width: 30px;
    margin: 5px;
    position: relative;
    z-index: -9;
}



path{
    position: relative;
    z-index:-10;
}
.piece{
    position: relative;
    z-index: 9;
}

.beige{
    /* background-color: rgb(110,110,98); */
    background-color: rgb(204,167,138);
}

.brown{
    /* background-color: rgb(169,43,43); */
    background-color: rgb(126, 35, 4);
}

.black{
    fill:rgb(28,28,28);
}

.white{
    fill:rgb(255,255,255);
}

.foot p{
    color: rgb(204,167,138);
}

 
  @media only screen and (max-width: 430px) {
    .hd{
        background-color: rgb(21,21,21);
        border: 1em solid rgb(33,33,33);
        border-radius: 3em;
          /* padding-right: 10em;  */
          padding: 2em;
    
    }
    .tot{
        background-color: rgb(21,21,21);
        border: 1em solid rgb(33,33,33);
        border-radius: 2em;
    }
    .hd img{
        display: none !important;
    }
   
  }
  @media only screen and (max-width: 375px) {
    .hd{
        background-color: rgb(21,21,21);
        border: 0em solid rgb(33,33,33);
        border-radius: 1em;
          /* padding-right: 10em;  */
          padding: 1em;
    
    }
    .tot{
        background-color: rgb(21,21,21);
        border: 0em solid rgb(33,33,33);
        border-radius: 1em;
    }
   

    #gameboard{
        width: 240px;
        height: 240px;
        /* background-color: black; */
        display:flex;
        flex-wrap: wrap;
        }
        
        .square{
          height:30px;
          width:30px;  
          position: relative;
        }
        .square svg{
            height: 20px;
            width: 20px;
            margin: 4px;
            position: relative;
            z-index: -9;
        }
        .hd img{
            display: none !important;
        }
       
  }